/AbstractPiece.class
/BoardGames.class
/Coord.class
/Couleur.class
/Game.class
/PieceIHM.class
/PieceIHMs.class
/Pieces.class
/Tour.class
/Main.class
/Reine.class
/Roi.class
/Cheval.class
/Fou.class
/Pion.class
